<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link href="MainStyle.css" rel="stylesheet" type="text/css"/>
    <link href="ContatoStyle.css" rel="stylesheet" type="text/css"/>
    <link href="Mainscript.js" rel="script">

</head>

<body>
<div id="main">
    <nav class="menu">
        <ul>
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a href="/curriculo">Curriculum</a>
            </li>
            <li>
                <a href="/contato">Contato</a>
            </li>
            <li>
                <a onclick="form_log()">Login</a>
                <ul id="log" class="menulog">
                    <form action="/trylog">
                        <li>
                            <input type="text" name="loginu" class="i_n" id="nome.txt" placeholder="Login">
                        </li>
                        <li>
                            <input type="text" name="pas" class="i_s" id="senha.txt" placeholder="Senha">
                        </li>
                        <li>
                            <input type="submit" title="Entrar" value="Entrar" id="btn_log">
                        </li>
                    </form>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="ctt">
    <lbl1>Entre em Contato</lbl1>

    <form action="/sendmessage">
        <div class="formulario">
            <lbl>Nome Completo</lbl>
            <div>
                <textarea name='txt_nome' id="txt_nome" rows="1" cols="30" placeholder="Nome"></textarea>
            </div>
            <lbl>Email</lbl>
            <div>
                <textarea name='txt_email' id="txt_email" rows="1" cols="30" placeholder="Email"></textarea>
            </div>
            <lbl>Telefone</lbl>
            <div>
                <textarea name='txt_telefone' id="txt_telefone" rows="1" cols="11"
                          placeholder="xx-xxxxx-xxxx"></textarea>
            </div>
            <lbl>Mensagem</lbl>
            <div>
                <textarea name='txt_mensagem' id="txt_mensagem" rows="10" cols="70"
                          placeholder="Digite aqui.."></textarea>
            </div>

            <div class="sub">
                <input type="submit" title="Enviar" value="Enviar" id="btn_log">
            </div>
        </div>
    </form>

</div>
<script>
    cond = 1
    a = document.getElementById('log');

    function form_log() {
        if (cond == 1) {
            a.style.visibility = 'visible';
            cond = 0
        } else if (cond == 0) {
            a.style.visibility = 'hidden';
            cond = 1
        }
    }
</script>
</body>
</html>