<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1 style="font-family: Calibri">Contato enviado, aguarde o retorno. </h1> </center>
</body>
</html>